# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executable
*SuperTrace.exe
*.cache
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.log
*.manifest
*.obj
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
